body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:674px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:684px;
}
#u2678 {
  position:absolute;
  left:216px;
  top:53px;
  width:458px;
  height:684px;
}
#u2679 {
  position:absolute;
  left:2px;
  top:334px;
  width:454px;
  visibility:hidden;
  word-wrap:break-word;
}
